pkgbase = qmmp-discord-rich-presence
	pkgdesc = QMMP General plugin that shows the currently playing track as Discord Rich Presence
	pkgver = 1.0.0
	pkgrel = 1
	url = https://github.com/foofly/qmpp-discord
	arch = x86_64
	license = GPL-2.0-or-later
	makedepends = cmake
	depends = qmmp
	depends = qt6-base
	depends = qt6-websockets
	source = qmmp-discord-rich-presence-1.0.0.tar.gz::https://github.com/foofly/qmpp-discord/archive/refs/tags/v1.0.0.tar.gz
	sha256sums = 4deca9bcc3455d7b244c7aaf787db5f96756ea622d2dfd17a92830837fa9df2d

pkgname = qmmp-discord-rich-presence
